.main-header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: rgb(0, 0, 0, 0.15) 0 0 5px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
}

@media screen and (max-width: 900px) {
  .main-header {
    padding: 0 15px;
  }
  
  h1 {
    font-size: 25px;
  }
  
  .socials {
    width: 60%;
  }

  .socials a {
    margin: 0 3px;
  }
}