.about-view {
  min-height: 70vh;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(#f5f5f5 2%, white 3% 97%, #f5f5f5 98% 100%);
}

.about-info-section {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
}

.about-img {
  width: 25%;
}

.about-img img {
  height: 100%;
  width: 100%;
  border-radius: 25%;
  border: 2.5px solid black;
  box-shadow: rgb(0, 0, 0, 0.3) 0 0 15px;
}

.about-text { 
  width: 60%;
  font-size: 20px;
  line-height: 1.5;
}