.home-view {
  margin: 0 auto;
  background-color:  #f5f5f5;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-box {
  width: 75%;
  margin-bottom: 4%;
  display: flex;
  justify-content: space-between;
}

.home-info {
  width: 60%;
  padding: 2%;
}

.home-info h1 {
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}

.home-img {
  max-width: 35%;
}

.home-img img {
  max-width: 100%;
  border: 3px solid black;
  border-radius: 50%;
  animation-name: corners;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.info-socials {
  display: flex;
  gap: 15px;
}

.info-socials a {
  display: flex;
  align-items: center;
  gap: 3px;
}

.soc-icon {
  height: 20px;
  width: 20px;
}

.tech-box {
  height: 10vh;
  width: 75%;
  display: flex;
  align-items: center;
}

.tech-text {
  padding-right: 3%;
  border-right: 2px solid black;
}

.icon-box {
  width: 55%;
  margin-left: 3%;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgb(0, 0, 0, 0.15) 0 0 10px;
}

@keyframes corners {
  0% {
    border-top-left-radius: 40%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 35%;
    border-bottom-left-radius: 60%;
  }
  50% {
    border-top-left-radius: 60%;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 55%;
    border-bottom-left-radius: 40%;
  }
  100% {
    border-top-left-radius: 40%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 35%;
    border-bottom-left-radius: 60%;
  }
}

@media screen and (max-width: 900px) {
  .info-box {
    flex-direction: column-reverse;
    align-items: center;
  }

  .home-info {
    width: 100%;
    text-align: center;
  }

  .home-img {
    max-width: 55%;
    margin-bottom: 20px;
  }

  .info-socials {
    justify-content: center;
  }

  .tech-box {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .tech-text {
    border-right: none;
    border-bottom: 2px solid black;
    padding: 0 0 10px 0;
  }

  .icon-box {
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 550px) {
  .icon {
    height: 50px;
    width: 50px;
  }
}