@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Sarabun', sans-serif;
  scroll-behavior: smooth;
  scroll-margin-top: 10vh;
}

body {
  margin: 0;
  padding: 0;
}